.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: #000;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    text-align: center;
  }
  
  .login-container h2 {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 2rem;
  }
  
  .login-container label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
  
  .login-container input {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #fff;
    background: #000;
    color: #fff;
    font-size: 1rem;
  }
  
  .button-container {
    display: flex;
    flex-direction: column; /* Меняем направление кнопок на вертикальное */
    width: 100%;
    gap: 1rem; /* Добавляем расстояние между кнопками */
    margin-top: 1rem;
  }
  
  .login-button,
  .register-button {
    font-family: 'Press Start 2P', cursive;
    padding: 1rem;
    width: 100%;
    text-align: center;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
  }
  
  .login-button:hover,
  .register-button:hover {
    background-color: #fff;
    color: #000;
  }